.navBar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   padding: 10px 20px;
   border-radius: 10px;
   background-color: #2d6a4f;
   margin: 15px 10px;
}

#srm {
   border-radius: 10px;
}

#centerText {
   text-align: center;
}

body {
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
   margin: 0px;
   background-image: url(images/library.jpg);
   background-size: cover;
}

body::after {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: -1;
}

#libLogo {
   border-radius: 20px;
}

.white {
   color: azure;
}

.footer {
   text-align: center;
   position: absolute;
   bottom: 0;
   width: 100%;
}

.just-footer {
   text-align: center;
}

p {
   margin: 0px;
}

a {
   margin: 0px;
   padding: 0px;
}

a button {
   cursor: pointer;
}

.hero {
   margin-top: 20px;
   padding: 10px 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 15px;
}

.btn {
   padding: 10px 20px;
   border: none;
   font-size: 15px;
   font-weight: 600;
   border-radius: 5px;
   width: 100px;
   background-color: #25a244;
   color: #e8fccf;
}

.btn:hover {
   background-color: #1a7431;
}

.btnfp {
   padding: 10px 20px;
   border: none;
   font-size: 15px;
   font-weight: 600;
   border-radius: 5px;
   width: 150px;
   background-color: #25a244;
   color: #e8fccf;
}

.space-apart {
   display: flex;
   justify-content: space-between;
   width: 220px;
}

.textStart {
   text-align: start;
}

.labelInputL {
   display: flex;
   flex-direction: column;
   height: 53px;
   justify-content: space-between;
   margin-bottom: 20px;
}

.labelInput {
   display: flex;
   flex-direction: column;
   height: 53px;
   justify-content: space-between;
   margin-bottom: 15px;
   width: 46%;
}

#email,
#password,
#confirmPassword,
#firstName,
#lastName,
#dob,
#phone,
#regno {
   padding: 7px 10px;
   border: none;
   font-size: 15px;
   border-radius: 3px;
}

.boxL {
   padding: 15px 30px 25px 30px;
   background-color: #6ede8a;
   border-radius: 10px;
   text-align: center;
   width: 40%;
}

.boxR {
   padding: 0px 30px 20px 30px;
   background-color: #6ede8a;
   border-radius: 10px;
   text-align: center;
   width: 70%;
}

.twoOne {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.center_login {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 65vh;
}
.center_register {
   margin-top: 40px;
   margin-bottom: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.extra {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 60px;
   margin-top: 10px;
}

.gender {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 70%;
   justify-content: space-between;
   margin-bottom: 10px;
}

.flex {
   display: flex;
}

.align {
   display: flex;
   align-items: start;
}

.twoBlocks {
   justify-content: space-between;
   margin-left: 10px;
   margin-right: 10px;
}

.sideBar {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 15px 25px 15px 25px;
   background-color: #6ede8a;
   border-radius: 10px;
   text-align: center;
   width: 20%;
}

.mainBlock {
   padding: 10px 30px 10px 30px;
   background-color: #6ede8a;
   border-radius: 10px;
   text-align: center;
   width: 67%;
}

.sideBar a {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   width: 80%;
   height: 40px;
}

@media (max-width: 768px) {
   .twoBlocks {
      flex-direction: column;
   }
   .sideBar {
      display: flex;
      flex-direction: row;
      width: 100%;
      box-sizing: border-box;
      justify-content: space-between;
      margin-bottom: 10px;
   }

   .sideBar a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;
   }

   .mainBlock {
      display: flex;
      width: 100%;
      box-sizing: border-box;
   }
}

table td:first-child {
   font-weight: bold;
   text-align: end;
   padding-right: 10px;
}

table td:last-child {
   text-align: start;
   padding-left: 10px;
}

table {
   width: 100%;
}

tr {
   height: 50px;
}
